//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif; 
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;
$trebuchet:       "Trebuchet MS", Helvetica, sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica; // The font family set on the html element.
$font-body:        $verdana;
$font-monospace:   $courier;

// Width
$content-width: 1280px;

//
// Colors, etc.
//


// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


/* for iPhone, iPod Touch and iPad */
/* this is a CSS answer to fix the hover/focus '~' and hover/focus '+' problem in safari and chrome */
#navigation:active,
#navigation:hover {}
#navigation ul ul {display:none;}
#navigation ul li:hover > ul {display:block;}
#navigation ul li.expanded:hover ~ li.close {display:block;}


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better clearfix.
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.

@import "admincustom";     // Admin's custom mixins
@import "themes/default";  // Default admin theme style.