@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; 
}

<div class="actionBox">
<h2>Navigation</h2>
    <div class="actionContent">
        <div class="subnav">@Html.Partial("~/areas/admin/views/shared/_NavigationOptions.cshtml")</div>
    </div>
</div>
