@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="actionBox smallForm">
    <h2>Reset Password</h2>
    <div class="actionContent">
     @if(ViewData.ContainsKey("ErrorMessage"))
        {
            <p class="error">
                @ViewBag.ErrorMessage
            </p>
        }
        @{ Html.BeginForm(); }
            @Html.Hidden("returnUrl", ViewData["returnUrl"])
            <h4>Email:</h4>
            @Html.TextBox("email", "")

             <p>
                @Html.ActionLink("Login?", "Login", new { controller = "Login", action = "Login", returnUrl = ViewData["returnUrl"] } )
            </p>

            <div class="buttonContainer">
                <input type="submit" value="Submit" class="button" />
            </div>
        @{ Html.EndForm(); }
    </div>
</div>
