$main-background-color: #fff;
$subheader-background-color: #bdbdbd;
$main-color: #c42023;
$light-color: #e31c22;
$dark-color: #a51c24;
$error-color: #990000;
$transparent-color: transparent;
$font-color: #515151;
$white: #ffffff;
$off-white: #f2f2f2;
$neutral-color: #919191;
$light-neutral-color: #bdbdbd;
$dark-neutral-color: #333333;
$action-box-font-color: #c42023;
$action-content-font-color: #c42023;
$action-box-header-background-color: #bdbdbd;
